.vs
PFDiceBot/PFDiceBot/Release/PFDiceBot.log
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/CL.command.1.tlog
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/CL.read.1.tlog
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/CL.write.1.tlog
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/link.command.1.tlog
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/link.read.1.tlog
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/link.write.1.tlog
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/PFDiceBot.lastbuildstate
PFDiceBot/PFDiceBot/Release/PFDiceBot.tlog/PFDiceBot.write.1u.tlog
PFDiceBot/PFDiceBot/Release/Source.obj
PFDiceBot/PFDiceBot/Release/vc141.pdb
PFDiceBot/PFDiceBot/Release/vcpkg.applocal.log
PFDiceBot/Release/space.doublez.pfdicebot.dll
PFDiceBot/Release/space.doublez.pfdicebot.exp
PFDiceBot/Release/space.doublez.pfdicebot.iobj
PFDiceBot/Release/space.doublez.pfdicebot.ipdb
PFDiceBot/Release/space.doublez.pfdicebot.lib
PFDiceBot/Release/space.doublez.pfdicebot.pdb
